$search-bar-color: #f2f2f2;
$button-color: #6aa84f;
$pagination-color: #91b4e0;

.page-body-search {
    margin-top: 50px;
    display: flex;
    $bodyPadding: 6%;
    padding: 0 $bodyPadding;

    .side-bar {
        flex: 1;
        gap: 14px;

        .input-field {
            align-items: center;
            gap: 10px;
            padding: 6px;
            background: #ffffff;
            border: 1px solid #bfbfbf;
            border-radius: 5px;

            input[type="text"] {
                text-decoration: none;
                outline: none;
                border: none;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
        }

        .search-title {
            gap: 14px;
            align-items: flex-end;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: #0d0d0d;
        }

        .search-bar {
            background-color: $search-bar-color;
            border: 1px solid #d9d9d9;
            padding: 17px 20px;
            gap: 13px;

            .name-search {
                gap: 13px;

                .title {
                    font-weight: 800;
                    font-size: 19px;
                    line-height: 22px;
                    color: #000000;
                }
                
            }

            .service-search {
                gap: 13px;

                .title {
                    flex: 1;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;

                    color: #000000;
                }
                .check-count {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    color: #555555;
                }

                .checkbox-list {
                    max-height: 200px;
                    overflow: auto;
                    padding: 10px 4px 10px 20px ;
                    background: #FBFBFB;
                    border: 1px solid #929292;
                    border-radius: 0 0 5px 5px;
                    gap: 16px;
                    margin-top: -1px;
                }
            }

            .rate-search {
                .title {
                    margin-bottom: 7px;
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 20px;
                    color: #000000;
                }

                .slider {
                    height: 2px;
                    background:  #D9D9D9;
                    margin-bottom: 20px;

                    .thumb {
                        $radius : 8px;
                        width: $radius;
                        height: $radius;
                        cursor: pointer;
                        border: none;
                        border-radius: 8px;
                        background: black;
                        margin-top: -3px;
                        background: #FF9900;
                    }

                    .track-1 {
                        top: -1px;
                        height: 4px;
                        background: #FF9900;
                    }
                    
                }
            }

            .price-search {
                .title {
                    margin-bottom: 7px;
                    font-weight: 600;
                    font-size: 17px;
                    line-height: 20px;
                    color: #000000;
                }
                .slider {
                    height: 2px;
                    background:  #D9D9D9;
                    margin-bottom: 30px;

                    .thumb {
                        $radius : 8px;
                        width: $radius;
                        height: $radius;
                        cursor: pointer;
                        border: none;
                        border-radius: 8px;
                        background: black;
                        margin-top: -3px;
                        background: #38AF00;
                    }

                    .track-1 {
                        top: -1px;
                        height: 4px;
                        background: #38AF00;
                    }
                    
                }
            }

            .button {
                display: flex;
                justify-content: center;
                margin-bottom: 20px;

                #search-btn {
                    width: 100%;
                    padding: 8px;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 29px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .main-content {
        flex: 2.6;
        padding-left: 30px;
        padding-top: 45px;

        .result-title {
            font-size: 25px;
            padding: 0 12px;
            margin-bottom: 10px;
            flex: 0.5;
        }

        .result-list {
            gap: 25px;

            .result-item {
                height: 220px;
                box-sizing: border-box;
                gap: 16px;
                background: #fefefe;
                border: 1px solid #b4b4b4;
                padding: 8px;
                
                .item-picture {
                    display: flex;
                    width: 300px;
                    max-height: 200px;
                }
                
                .item-information {
                    flex: 1;
                    gap: 15px;
                    
                    
                    .item-col1 {
                        width: 365px;
                        height: 190px;
                        .item-name {
                            font-size: 24px;
                            color: #d78100;
                        }
                        
                        .item-address {
                            min-height: 45px;
                            align-items: center;
                            padding-left: 6px;
                            margin-bottom: 8px;
                            gap: 7px;
                            color: #38af00;
                            font-weight: bold;
                            text-decoration: underline;
                        }
                        
                        .item-introduce {
                            padding-left: 6px;
                            margin-bottom: 6px;
                            overflow:hidden;
                            word-break: break-all;
                            text-overflow: clip;
                        }
                    }
                    

                    .item-rate {
                        padding: 8px;
                        align-items: end;

                        .item-star {
                            display: flex;
                            align-items: center;
                            padding: 9px 12px;
                            background-color: #026300;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 29px;

                            color: #f4f4f4;
                            border-radius: 5px;
                        }

                        .item-review {
                            align-items: end;

                            .review-count {
                                // background-color: #ffe6e6;
                                margin-top: 5px;
                                font-weight: 800;
                                font-size: 16px;
                                line-height: 19px;
                                color: #4d4d4d;
                            }

                            .review-text {
                                font-weight: 600;
                                font-size: 24px;
                                line-height: 29px;
                            }
                        }
                    }

                    .item-details-link {
                        width: 14vw;
                        padding: 10px;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 29px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}