
.review-list {
    margin-top: 10px;
    max-width: 100%;
    gap: 30px;
    
    .review-list-info {
        width: 100%;
        // overflow-x: scroll;
        gap: 20px;
        // justify-content: space-between;
    }
}