.page {
    display: flex;
    flex-direction: column;
    // 
    background: #FFFFFF;
    border-collapse: collapse;
    $bodyPadding: 8%;

    .page-nav {
        margin: 40px 0;
        padding: 0px $bodyPadding;
        gap: 20px;
        .nav-item {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            padding: 10px;
            font-weight: 600;
            font-size: 22px;
            line-height: 29px;
            color: #888888;
            background: rgba(217, 217, 217, 0.59);
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }
            &.cur-nav {
                background: rgba(85, 153, 1, 0.28);
                color: #559901;
            }
        }
    }
    
    .page-body-details {
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0px $bodyPadding;
        padding-top: 10px;
        // border: solid 3px #7e7e7e;
        border-top: none;
        min-height: calc(100% - $bodyPadding * 2 - 10vh);

        .parlor-info {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 15px;
            .parlor-name {
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #0D0D0D;
            }
            .parlor-address {
                gap: 5px;
                margin-left: 5px;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-decoration-line: underline;
                color: #559901;
            }
        }

        .parlor-phone {
            display: flex;
            align-items: center;

            .phone-btn {
                width: 22vw;
                padding: 20px;
                font-weight: 600;
                font-size: 28px;
                line-height: 30px;
            }
        }
        
        .parlor-images {
            display: flex;
            gap: 20px;
            .row {
                display: flex;
                flex-direction: row;
                gap: 15px;
                flex: 1;
                padding: 0px;
            }
            .col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                // align-items: center;
                flex: 1;
            }
            .main-img {
                width: 100%;
                height: auto;
            }
            img {
                display: flex;
                width: 100%;
                height: auto;
                // padding: 5px;
            }
            .more-img-container {
                display: flex;
                flex: 1;
                .more-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    height: 100%;
                    background: rgba(100, 100, 100, 0.58);
                    font-style: normal;
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 58px;
                    color: #FFFFFF;
                }

            }

        }

        .parlor-description {
            background: #FFFFFF;
            border: 1px solid #B4B4B4;
            border-radius: 5px;
            padding: 20px;
            .title {
                font-weight: 600;
                font-size: 32px;
                line-height: 35px;
                color: #559901;
                margin-bottom: 20px;
            }
            .description {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
            }
        }

        .parlor-services {
            gap: 10px;
            .title {
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 40px;
                color: #0D0D0D;
            }
            .service-list {
                gap: 25px;
            }
        }

        .parlor-reviews {
            margin-bottom: 30px;

            .title {
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 40px;
                color: #0D0D0D;
                margin-bottom: 30px;
            }
        }

    }

}