.service-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    gap: 12px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;

    padding: 15px;

    .service-name {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 25vw;
        min-width: fit-content;
        margin-bottom: 15px;
        margin-left: -25px;
        background: #FF9900;
        font-weight: 600;
        font-size: 30px;
        line-height: 35px;
        color: #FFFFFF;
        padding: 12px;
    }   

    .service-description {
        flex: 1;
        margin-bottom: 5px;
        line-break: loose;
        word-break: break-all;
        
    }

    .service-note {
        color: red;
    }
}

table {
    th{
        padding: 12px;
        padding-top: 0px;
    }

    td {
        text-align: center;
        padding: 12px;
    }
}

