.page-header {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 5%;
    background: #FF9900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    p {
        padding: 0;
        margin: 0;
    }

    .header-title {
        display: flex;
        flex: 1;
        // font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;

        color: #FFFFFF;

        &:hover {
            cursor: pointer;
        }
    }

    .non-user-action {
        gap: 15px;
        align-items: center;
        justify-content: center;
        .info-btn {
            padding: 8px 30px;
            font-size: 24px;
            font-weight: 600;
        }
    }

    .user-info {
        gap: 40px;
        align-items: center;
        justify-content: center;

        .notification-btn {
            position: relative;
            $notiRadius: 70px;
            width: $notiRadius;
            height: $notiRadius;
            align-items: center;
            justify-content: center;
            // padding: 10px;
            background: #FDFDFD;
            border-radius: 32px;
            &:hover {
                cursor: pointer;
            }
            .notification-number {
                position: absolute;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                background: #38AF00;
                $downPos : 3px;
                width: 28px;
                height: 28px;
                bottom: $downPos;
                right: $downPos;
                z-index: 1;
                font-weight: 600;
                font-size: 16px;
                // line-height: 19px;
                color: #FFFFFF;
                border-radius: 99px;
                
            }
        }

        .notification-panel {
            position: absolute;
            top: 80px;
            right: 0px;
            width: 35vw;
            max-height: 150px;
            overflow-y: scroll;
            border: solid 1px;
            background: #FFFFFF;
            box-shadow: 0px 4px 55px 9px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            padding: 10px 0;
            .notification-item {
                &:not(.first) {
                    border-top: solid 1px;
                }
                font-size: 16px;
                padding: 20px;
            }
            &::-webkit-scrollbar-track {
                background-color: #ffffff;
                border-radius: 8px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 9px;
                background: #559901;
                border: 5.5px solid transparent;
                background-clip: content-box;
                width: 184px;
            }
        }
        
        .user-control {
            align-items: center;
            background: #0D0D0D;
            color: white;
            border-radius: 32px;
            padding: 5px;
            gap: 15px;
            &:hover {
                cursor: pointer;
            }
            .user-avatar {
                background-color: white;
                $length : 60px;
                width: $length;
                height: $length;
                border-radius: 99px;
            }
            .user-name {
                // margin-right: 5px;
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                gap: 20px;
                padding: 5px;
                padding-right: 10px;
                
            }
            .dropdown-btn {
                margin-right: 10px;
            }
        }
        .user-dropdown-panel {
            position: absolute;
            top: 80px;
            right: 0px;
            width: fit-content;
            padding: 11px;
            z-index : 1;
            background: white;
            box-shadow: 0px 4px 55px 9px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            border: solid 1px;
            hr {
                width: 100%;
                height: 2px;
                background: #C2C2C2;
            }
            .user-dropdown-item {
                word-break: keep-all;
                padding: 0 20px 0 4px;
                display: flex;
                height: 50px;
                align-items: center;
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
                color: black;

                &:hover {
                    background: rgba(217, 217, 217, 0.59);
                    border-radius: 8px;
                    cursor: pointer;
                }
            }

            .logout-btn {
                padding: 15px;
                background: #559901;
                border-radius: 8px;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;

                color: #FFFFFF;
            }
        }

    }

    .admin-info {
        align-items: center;
        .admin-btn {
            padding: 15px 20px;
            border-radius: 32px;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
        }
    }
}

.login-form {
    // position: absolute;
    width: 35%;
    height: auto;
    margin: 50px auto;
    border: 2px solid grey;
    border-radius: 15px;
    text-align: center;
    padding-bottom: 50px;

    .login-title {
        text-align: center;
    }

    form {
        width: 70%;
        margin: auto;
    }

    .input-field {

        width: 100%;

        .form-lable {
            margin: 10px 0 6px 0;
            text-align: left;
            font-weight: 600;
            font-size: 19px;
            line-height: 19px;
            display: block;
        }

        .form-input {
            margin-bottom: 5px;
            font-size: 14px;
            padding: 5px;
            text-align: left;
            display: block;
            border: 2px solid #B4B4B4;
            border-radius: 8px;
            width: 100%;
        }

        .spec {
            width: 100%;
            padding: 5px;
            line-height: 14px;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px solid #B4B4B4;
            border-radius: 8px;

            input {
                width: 90%;
                outline: none;
                border: hidden;
            }

            span {
                cursor: pointer;
                font-size: 14px;
            }

            &:focus-within {
                border: 2px solid black;

            }
        }
    }

    .link {
        display: block;
        text-align: left;
        font-weight: 600;
        color: #D78100;
        text-decoration: underline;
        margin-bottom: 10px;
        margin-top: 8px;
    }

    .submit-btn {
        width: 86%;
        height: 41px;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        background: #559901;
        border-radius: 8px;
        color: #FFFFFF;
        margin: 0 auto;
    }

    .line {
        margin-top: 20px;
        border-top: 2px solid #B4B4B4;
    }

    .login-sub-text {
        margin-top: 20px;
        text-align: left;
        font-size: 14px;
        color: #535353;
    }

    .latest {
        margin-top: 10px;
        width: 100%;

        .register-btn {
            width: 100%;
            height: 30px;
            background-color: #0A0A0A;
            font-weight: 550;
            font-size: 16px;
            border-radius: 8px;
            text-align: center;
            text-decoration: none;
            color: #FFFFFF;
            padding: 8px 21%;

            &:hover {
                background-color: #535353;
            }
        }
    }

}